 <beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder" />

	<bean id="securityUserDetailService" class="gaongil.security.SecurityUserDetailService"/>

	<bean id="securityRememberMeService" class="gaongil.security.SecurityRememberMeService">
		<constructor-arg name="key" value="test"/>
		<constructor-arg name="userDetailsService" ref="securityUserDetailService"/>
		<property name="tokenValiditySeconds" value="60" />
		<property name="alwaysRemember" value="true"/>
	</bean>
	
</beans>
